<!DOCTYPE html>
<html>
  <head>
    <title>Holiday Rentals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/humanity/jquery-ui.css">
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <div class="container">

      <!-- Tem Links Start -->
      <%= link_to 'Create Room |', new_room_path %>
      <%= link_to 'All Rooms', rooms_path %>
      <!-- Tem Links End -->

      <%= yield %>
    </div>

  </body>
</html>
